# Python cache and bytecode
__pycache__/
*.py[cod]

# Django database
*.sqlite3
db.sqlite3

# Ignorar archivos temporales y de pruebas
*.xlsx
db.sqlite3

# Environments
.env
!frontend/.env
.venv
env/
venv/
ENV/

# IDE files
.idea/
.vscode/

# macOS files
.DS_Store

# Backup files
*~

# Media files
media/

# Imported CSVs
importaciones/*.csv
